.mainDiv {
    background-color: #070d1be6;
    box-shadow: 0 0.625rem 0.625rem -0.625rem #070d1be6;
    width: 100%;
    height: 5rem; /* 80px converted to rem */
    box-sizing: border-box;
    z-index: 1;
position: fixed;
}

.subDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 5rem; /* 80px converted to rem */
    padding: 0 10%; /* 10px converted to rem */
    box-sizing: border-box;
}

.imgDiv > img {
    width: 9.375rem; /* 150px converted to rem */
    height: 3.75rem; /* 60px converted to rem */
    cursor: pointer;
}

.contentDiv {
    display: flex;
    box-sizing: border-box;
}

.contentDiv > p {
    padding-left: 2.5rem; /* 40px converted to rem */
    font-size: 15px;
    display: inline-block;
    color: #fdfeff;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.sideBar {
    display: none ;
}



@media (min-width: 390px) and (max-width: 1250px) {
    

    .imgDiv {
        margin-top: 8px;
       }

       .contentDiv > p {
        display: none;
       }

       .contentDiv > span {
        display: block !important;
        font-size: 30px;
       cursor: pointer;
       }

       .sideBar {
        display: flex;
        flex-direction: column;
        margin-left: 80%;
        width: 400px;
        background-color: #070d1be6;
        box-shadow: 0 0.625rem 0.625rem -0.625rem #070d1be6;
       }


       .sideBar > a{
        padding-bottom: 10px;
        padding-left: 20px;
       display: flex;
       color: white;
       cursor: pointer;
       }
}

@media(max-width: 390px) {
    .sideBar{
        margin-left: 60%;
    }

}