.ripplediv{
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.activeLink {
    color: #fec544 !important;
}